/* logo color:
* blue => #0191d7
*
*/


/*topBar*/
.topBar{
    z-index: 0;
    top:0px;
    left: 0pt;
    display:inline-block;
    overflow:clip;
    background-color: #0191d7;
    width:100%;
    height: 68px;
    white-space: normal;
    position:fixed;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}

/*logo picture*/
.logo{
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


        /*buttons on menu*/
.buttons{ 
    vertical-align: middle;
    line-height: 60px;    
    color:white;
    cursor:pointer;
    word-wrap: normal;
    text-align: center;
    padding: 30px ;
    text-decoration: none !important;
    }
        /*hover button on menu*/
a.buttons:hover{
    color:#0191d7;
    background-color: white;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/*STUFF FOR LITTLE SCREEN*/
.smaller{
    z-index: 1;
    display: none;
    top: 10px;
}
ul{
    list-style-type: none;
}
li{
    margin-bottom:0px; 
}
        /*responsive screen size*/
@media only screen and (max-width:992px){ [class*="buttons"]{
    display: none;}
    [class*="smaller"]{
        display: block;}
}
        /*little screen menu*/
.hide{
    display:none
}
.show{
    margin-top: 50px;
    position: fixed;
    display:block;
    z-index: 1;
}

.titanic{
    float: none;
}

.button{ 
    background-color: #0191d7;
    color:white;
    border-right: 3px solid white;
    border-left: 3px solid white;
    cursor:pointer;
    display: inline-block;
    width: 100%;
    text-align: center;
    align-self:right;
    text-decoration: none !important;
    padding: 15px;
    }

.bottom{
    border-bottom: 3px solid white;
}
.top{
    border-top: 3px solid white;
}
a.button:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: white;
    color: #0191d7;
    border-color: #0191d7;
}
